# Default ignored files
/shelf/
/workspace.xml
/asset_graphic/
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.marketlife.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
